@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');
@import "../style.scss";

.navbar {
    @include themify($themes) {
        z-index: 100;
        padding: 10px 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: themed("bg");
        color: themed("textColor");
        // border: 1px solid white;

        .left {
            cursor: pointer;
            display: flex;
            align-items: center;
            gap: 10px;
            background-color: themed("bg");
            color: themed("textColor");

            img {
                height: 35px;
                width: 35px;
                border-radius: 50%;
                object-fit: cover;
            }

            span {
                background-color: themed("bg");
                color: themed("textColor");
                font-size: 20px;
                font-family: 'Dancing Script', cursive;

                @include tablet {
                    display: none;
                }
            }
        }

        .right {
            cursor: pointer;
            display: flex;
            align-items: center;
            gap: 10px;
            background-color: themed("bg");
            font-size: 20px;
            font-weight: bold;
            color: themed("logo");

            .menu {
                display: none;
                color: themed("textColor");

                @include tablet {
                    display: block;
                }

            }

        }

        .center {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;
            font-family: 'Marcellus', serif;
            background-color: themed("bg");
            color: themed("textColor");

            a {
                justify-self: center;
                background-color: themed("bg");
                color: themed("textColor");
                width: 100px;
                text-decoration: none;
                // transition: all ease-in-out 0.3s;
            }

            // a:hover {
            //     color: blueviolet;
            // }

            @include tablet {
                display: none;
            }

            @include mobile {
                width: 50px;
            }
        }


    }
}