// #root {
//   max-width: 1280px;
//   margin: 0 auto;
//   padding: 2rem;
//   text-align: center;
// }

@import "./style.scss";

* {
    margin: 0;
    padding: 0;
  @include themify($themes) {
 
    background-color: themed("bg");
    // padding: 0;
  }
}